<%= link_to "|Back|", program_workouts_path(@program) %>
<h1 class="ui grey inverted header"> <%= @program.name %> </h1>
<%= link_to "|Add Workout|", new_program_workout_path %>
<hr />

<h3 class="ui grey inverted header"> <%= @workout.week %> - <%= @workout.day %> </h3> 
<h4 class="ui grey inverted header"> <%= @workout.lift %> : <%= @workout.sets %> x <%= @workout.reps %> (@<%= @workout.percentage %>) </h4>


<br />
<%= link_to "Edit", edit_program_workout_path(@program), class: "ui blue button inverted" %>
<%= link_to "Delete", program_workout_path(@program), method: :delete, class: "ui red button inverted" %>
